.user-type-select .p-button {
    flex: 1;
}

/* Add a border to all elements*/
/* * {
    outline: 1px solid red;
} */

.worker-bio {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* This is used to properly center badge in the profile image */
.translate-badge {
    left: 50%;
    transform: translateX(-50%);
}  
  
  
  
  
  
  