.rounded-card {
  border-radius: 25px; /* Adjust the value as needed for your desired roundness */
}
.rounded-image {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.service-card {
  border-radius: 50px;
}
/* .services-description {
  max-width: 300px;
  max-height: 50px;
} */

/* Example with increased specificity */
/* .pageContainer {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 19%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 255, 188, 1) 84%
  ) !important;
} */
/* .householdServicesBG {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 16%,
    rgba(194, 180, 217, 1) 49%,
    rgba(148, 187, 233, 1) 70%
  ) !important;
} */

/* .householdServicesBG {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(194, 180, 217, 1) 42%,
    rgba(148, 187, 233, 1) 70%
  ) !important;
} */
